img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

header{
    background-color: #2c3e50;
    color: white;
    font-weight: 700;
}



/* Qui inizia il Jumbotron */

.verde{
    background-color: #1abc9c;
    color: white;
}


